.red {
  color: red;
}

.detect_img {
	margin: 10px;
  width: 100%;
  border: 1px solid #808080;
}

.detail{
	margin: 10px;
	display: inline-block;
}

.cut_image {
  width: 150px;
  height: 150px;
}

.detail_container {
  background-color:#dcdcdc;
	padding:5px; 
	width:170px;
  border:1px solid #a9a9a9;
}

.balloon1-left {
 	position: relative;
	display: inline-block;
 	margin: 1.5em 0 1.5em 10px;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 17px;
  background: #e0edff;
  border-radius: 15px;
}

.balloon1-left:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -27px;
 	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 15px solid #e0edff;
}

.balloon1-left p {
	margin: 0;
	padding: 0;
}