{% extends "layout.html" %}
{% block content %}
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p style="margin-left:15px;">
          765PRO AS組の13人を識別出来たらいいなーって
        </p>
        {% if result %}
          <div class="col-md-7">
            <img src={{result[1]}} class="detect_img">
          </div>
          <div class="col-md-5">
            <p><img src={{result[2]}} class="cut_image"></p>
            <p class="detail_container">
              <解析詳細><br>
              {{result[0][0]['name']}}：{{result[0][0]['rate']}}%<br>
              {{result[0][1]['name']}}：{{result[0][1]['rate']}}%<br>
              {{result[0][2]['name']}}：{{result[0][2]['rate']}}%<br>
            </p>
          </div>
          <!-- <p>{{result}}</p> -->
        {% else %}
          <div class="col-md-12">
            <h3>顔写真をアップロードしてください！</h3>
          </div>
        {% endif %}
        <div class="col-md-12" style="margin-top:10px; margin-bottom:20px;">
          <form action="/post" method="post" class="form-inline" enctype="multipart/form-data">
            <input type = "file" name = "file" />
            <button type="submit" class="btn btn-primary" style="margin-top:5px;">検出開始！</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}