{% extends "layout.html" %}
{% block content %}
<div class="container">
  <!-- 上 -->
  <div class="row">
    <!-- キャラ -->
    <div class="col-md-8">
      <img src="/static/images/yayoi_sd.png"/>
      <p class="balloon1-left">
        {% if result %}
          {% if isAS %}
          うっうー！この画像にはAS組の仲間が写ってると思います！
          {% else %}
          うう…。この画像にAS組の人はいないみたいです。
          {% endif %}
        {% elif error %}
        うーん？この画像はどこかがおかしいみたいです。
        {% else %}
        765PRO AS組の13人を識別出来たらいいなーって。
        {% endif %}
      </p>
    </div>
    <!-- 送信フォーム -->
    <div class="col-md-4">
      <p>画像サイズ制限：2000x2000px以下</p>
      <form action="/detect" method="post" class="form-inline" enctype="multipart/form-data">
        <input type="file" name="file" class=”form-control” required/>
        <button type="submit" class="btn btn-primary" style="margin-top:10px;">画像を渡す</button>
      </form>
    </div>
  </div>
  {% if result %}
  <!-- 下 -->
  <div>
    <img src="{{img_path}}" class="detect_img" />
  </div>
  <div class="col-md-12">
    {% for chara in result %}
    <div class="detail">
      <p>これは<span class="red">{{chara['rank'][0]['name']}}</span>ですね</p>
      <p>
        <canvas id="canvas-{{loop.index0}}" class="cut_image"></canvas>
      </p>
      <p class="detail_container">
        <判定詳細>
        {% for _ in range(3) %}
        <br> {{chara['rank'][loop.index0]['name']}}：{{chara['rank'][loop.index0]['rate']}}%
        {% endfor %}
        <br>
      </p>
    </div>
    <script type="text/javascript">
      var facex = '{{rect[0]}}';
      var facey = '{{rect[1]}}';
      var facew = '{{rect[2]}}';
      var faceh = '{{rect[3]}}';
      var image_url = '{{img_path}}';
    </script>
    <script src="/static/image.js"></script>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}